name: Build Proton

on:
  workflow_dispatch:
  push:
    tags:
      - 'proton-cachyos-lowlatencyaudio*'

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Debloat GitHub CI
      uses: endersonmenezes/free-disk-space@v2
      with:
        remove_android: true
        remove_dotnet: true
        remove_haskell: true
        remove_tool_cache: true
        remove_swap: true
        remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
        remove_packages_one_command: true
        remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
        testing: false
    
    - name: Prepare host
      run: sudo apt update && sudo apt-get install -y ccache fontforge-nox

    - name: Restore cache
      id: ccache-restore
      uses: actions/cache/restore@v4
      with:
        path: ~/.ccache
        key: ccache-proton-${{ github.run_id }}
        restore-keys: |
          ccache-proton-

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
        submodules: false

    - name: Patch
      run: |
        git submodule update --init --filter=tree:0 --recursive
        ./patches/apply.sh
        mkdir ./build
    
    - name: Configure
      working-directory: ./build
      env:
        RUSTFLAGS: -Copt-level=3 -Ctarget-cpu=nocona
        USE_LTO: 0
      run: |
        ../configure.sh --build-name=${{ github.ref_name }}-x86_64 --enable-ccache --container-engine=docker --without-nvidia-libs

    - name: Make ${{ github.ref_name }}-x86_64
      working-directory: ./build
      run: |
        make -j$(nproc) redist

    - name: Save cache
      id: ccache-save
      if: always()
      uses: actions/cache/save@v4
      with:
        path: ~/.ccache
        key: ${{ steps.ccache-restore.outputs.cache-primary-key }}

    - name: Upload artifact ${{ github.ref_name }}-x86_64.tar.xz
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.ref_name }}-x86_64.tar.xz
        path: ./build/${{ github.ref_name }}-x86_64.tar.xz

    - name: Upload artifact ${{ github.ref_name }}-x86_64.sha512sum
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.ref_name }}-x86_64.sha512sum
        path: ./build/${{ github.ref_name }}-x86_64.sha512sum

  release:
    name: Release
    needs: [build]
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts

      - name: Merge artifacts
        run: |
          mkdir -p upload
          mv ./artifacts/*/* ./upload/

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2.2.1
        with:
          make_latest: true
          name: ${{ github.ref_name }}
          files: ./upload/*
